# Ignore drupal files.
.htaccess
.editorconfig
.eslintignore
.eslintrc
.gitattributes
composer.json
core
example.gitignore
index.php
LICENSE.txt
profiles
README.txt
robots.txt
sites
themes
web.config
modules\README.txt

# Ignore vendor files
lib/vendor/*

# Ignore data files
lib/data/*

lib/test/temp

assets/js/typings

assets/js/lib/bower_components
assets/js/lib/jasmine
lib/tools/bin