# Ignore drupal files.
core/vendor/*

# Ignore vendor files
lib/vendor/*

# Ignore data files
lib/data/*

assets/js/bower/bower_components

lib/test/temp

assets/js/typings

assets/js/lib/bower_components