<div id="progress-waiter" class="modal fade bs-example-modal-lg" data-keyboard="false" data-backdrop="static"
tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"> 
<div class="modal-dialog modal-dm"> 
    <div id="progress-waiter-content" class="modal-content" style="padding: 5px">
        <div class="modal-header"> 
            <h4><span id="wait-message">Please wait . . .</span></h4>
        </div>
        <div class="progress progress-striped active" > 
            <div id="wait-progress-bar" class="progress-bar progress-bar-striped active" style="width: 0%;"></div> 
            </div> 
        </div> 
    </div> 
</div>